body, html {
  min-width: 1200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

#home {
  width: 100%;
  height: 1010px;
  background: url("../img/Sections background/section-1(header).jpg")
              rgba(255, 255, 255, 0.2) no-repeat fixed top;
  background-blend-mode: lighten;
  background-size: cover;
}

.nav-bg {
  background-color: rgba(15, 15, 0, 0.25);
  background-size: cover;
}

.nav-container {
  display: flex; 
  width: 1140px; 
  height: 120px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo-text {
  margin-left: 8px;
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.logo-text::after {
  content: 'Ham';
  font-weight: 700;
  color: #18cfab;
}

.img-logo {
  display: flex;
  width: 58px;
  height: 67px;
  background-image: url("../img/img-logo-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.logo-link {
  display: flex;
  align-items: center;
}

.nav-menu-list {
  display: flex;
  margin: 0;
}

.nav-menu-item {
  display: flex;
  height: 100%;
  margin: 0 15px;
  font-size: 0.81rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-menu-item:last-child {
  font-size: 1.2rem;
}

.nav-menu-link {
  display: flex;
  height: 100%;
  align-items: center;
  color: #b8b8b8;
  text-decoration: none;
}

.nav-menu-link:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
  transition: 0.2s;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin-top: 210px;
  align-items: center;
}

.header-text {
  margin-bottom: 20px;
  font-size: 2.1rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.header-text-big {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 4.8rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
} 

.header-text-small {
  margin-top: 0;
  margin-bottom: 128px;
  font-size: 2.1rem;
  font-weight: 300;
  color: #d4d4d4;
}

.text-green {
  color: #18cfab;
}

.btn-container {
  display: flex;
}

.explore-btn, .purchase-btn {
  position: relative;
  box-sizing: border-box;
  min-width: 166px;
  margin: 14px;
  padding: 23px;
  background-color: #18cfab;
  border: none;
  border-top: 4px solid white;
  border-radius: 5px;
  text-align: center;
  font-size: 0.81rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.explore-btn:hover, .purchase-btn:hover {
  border-top: none;
  transform: translateY(-2px)
}

.purchase-btn {
  background-color: #00cbf6;
}

.options {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.options-item {
  display: flex;
  width: 480px;
  height: 367px;
  border-top: 7px solid;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.options-item:nth-child(odd) {
  background-color: #1c2a33;
  border-top-color: #18cfab;
  color: #18cfab;
}

.options-item:nth-child(even) {
  background-color: #18cfab;
  border-top-color: white;
  color: white;
}

.options-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 60px 0;
  align-items: center;
  justify-content: flex-end;
}

.options-item-content-text {
  margin: 50px 0;
}

.services-container {
  margin: 0 auto;
  width: 1160px;
}

.section-title {
  margin-top: 82px;
  font-size: 2.25rem;
  font-weight: 400;
  text-align: center;
  color: #4e4e4e;
}

.separator {
  width: 88px;
  height: 3px;
  margin: 0 auto 70px;
  border-top: 1px solid #18cfab;
  border-bottom: 1px solid #18cfab;
  transform: skewX(72deg);
}

.services-tabs-wrapper {
  display: flex;
  flex-direction: column;
  height: 235px;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  color: #9e9e9e;
}

.services-tabs, .service-tabs-data {
  display: flex;
  margin-top: 5px;
  padding-left: 0;
}

.services-tabs-title {
  position: relative;
  display: flex;
  width: 192px;
  height: 73px;
  align-items: center;
  justify-content: center;
  background-color: #f8fcfe;
  border: 1px solid #f6f6f6;
  cursor: pointer;
}

.services-tabs-title-caret {
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 80px;
  font-size: 3rem;
  color: #18cfab;
}

.services-tabs-title-caret.visible {
  visibility: visible;
  transition: 100ms;
}

.services-tabs-title.active {
  background-color: #18cfab;
  border: 1px solid #18cfab;
  color: white;
  transition: 100ms;
}

.services-tabs-content {
  display: none;
}

.services-tabs-content.open {
  display: flex;
  flex-direction: row;
}

.services-tabs-img {
  width: 193px;
  height: 140px;
  border: 1px solid #c6c6c6;
}

.services-tabs-text {
  display: flex;
  margin-left: 20px;
  margin-top: 0;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: justify;
}

#purchase {
  display: flex;
  max-width: 1920px;
  height: 474px;
  margin: 102px auto 0;
  justify-content: center;
  background: url("../img/Sections background/section-2.jpg")
              rgba(0, 0, 0, 0.7)  no-repeat fixed top;
  background-blend-mode: darken;
  background-size: cover;
}

.purchase-container {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  align-items: center;
}

.purchase-header {
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: 600;
  color: #18cfab;
  text-transform: uppercase;
}

.purchase-text {
  margin: 0 0 60px;
  color: #ccc;
}

#work {
  display: flex;
  max-width: 1920px;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f8fcfe;
  align-items: center;
}

.work-menu {
  display: flex;
  margin: 0;
  padding-left: 0;
  justify-content: center;
}

.work-menu-item {
  display: flex;
  padding: 20px 20px;
  background-color: white;
  border: 1px solid #f6f6f6;
  font-size: 0.88rem;
  color: #8b8b8b;
  cursor: pointer;
}

.work-menu-item.select {
  color: #18cfab;
  box-shadow: 0 -2px #18cfab;
}

.work-gallery {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-gap: 1px;
  margin-top: 70px;
}

.work-gallery-img {
  width: 285px;
  height: 208px;
}

.work-gallery-img {
  display: none;
}

.work-gallery-img.show {
  display: block;
  animation: fadein 700ms;
}

.loader-wrapp {
  display: none;
  margin-top: 50px;
  font-size: 1.5rem;
  color: #777;
}

.loader-wrapp .letter {
  display: inline-block;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.l-1 {animation-delay: .48s;}
.l-2 {animation-delay: .6s;}
.l-3 {animation-delay: .72s;}
.l-4 {animation-delay: .84s;}
.l-5 {animation-delay: .96s;}
.l-6 {animation-delay: 1.08s;}
.l-7 {animation-delay: 1.2s;}
.l-8 {animation-delay: 1.32s;}
.l-9 {animation-delay: 1.44s;}
.l-10 {animation-delay: 1.56s;}

.load-more-btn {
  display: flex;
  position: relative;
  box-sizing: border-box;
  min-width: 166px;
  margin-top: 70px;
  margin-bottom: 100px;
  padding: 10px 13px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #18cfab;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.work-gallery-btn-caption {
  display: flex;
  font-size: 0.88rem;
  font-weight: 600;
  color: white;
  align-items: center;
  text-transform: uppercase;
}

.work-gallery-btn-caption::before {
  margin-right: 15px;
  font-size: 36px;
  content: "\002B";
}

#breaking-news {
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  margin: 0 auto;
  align-items: center;
}

.news-gallery {
  display: grid;
  grid-template-columns: repeat(4, 264px);
  grid-template-rows: 280px 280px;
  column-gap: 30px;
  row-gap: 45px;
}

.news-post {
  position: relative;
  background-color: #f8fcfe;
}

.news-post-img {
  width: 264px;
  height: 208px;
}

.news-post:hover .news-post-date {
  background-color: #18cfab;
  color: white;
}

.news-post:hover .news-post-header {
  color: #18cfab;
}

.news-post-date {
  display: flex;
  position: absolute;
  width: 66px;
  height: 68px;
  top: 0;
  right: 0;
  background-color: #203e38;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.news-post-title {
  position: relative;
  width: 247px;
  height: 70px;
  top: -3px;
  padding-left: 15px;
  border: 1px solid #f5f5f5;
  font-size: 0.88rem;
  color: #888;
}

.news-post-header {
  margin: 12px 0;
  font-size: 1.12rem;
  color: #717171;
}

.news-post-comments::after {
  content: "|";
  margin: 14px;
}

#feedback {
  display: flex;
  max-width: 1920px;
  height: 852px;
  margin: 130px auto 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../img/Sections background/section-3.jpg")
              rgba(0, 0, 0, 0.4) no-repeat fixed bottom;
  background-blend-mode: darken;
  background-size: cover;
}

.feedback-header {
  font-size: 2.25rem;
  font-weight: 400;
  color: white;
}

.feedback-open-quote {
  margin: 20px 0 0 0;
  font-family: serif;
  font-size: 6rem;
  font-weight: 600;
  line-height: 0.2;
  color: #18cfab;
}

.feedback-wrapper {
  position: relative;
}

.feedback-main {
  width: 1100px;
  height: 350px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.feedback-main-container {
  text-align: center;
}

.feedback-text {
  font-weight: 300;
  line-height: 1.6;
  color: #afafaf;
}

.feedback-name {
  margin: 35px 0 0;
  font-weight: 600;
  color: #18cfab;
  text-transform: uppercase;
}

.feedback-occupation {
  font-size: 0.8rem;
  color: #afafaf;
}

.feedback-photo-big {
  display: flex;
  width: 164px;
  height: 164px;
  margin: 25px auto;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(16, 75, 75, 0.6);
}

.feedback-photo-big-img {
  width: 142px;
  height: 142px;
  border-radius: 50%;
  border: 3px solid #18cfab;
}

.prevBtn, .nextBtn {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 400px;
  left: 295px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  font-size: 0.8rem;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.nextBtn {
  left: 770px;
}

.prevBtn:hover, .nextBtn:hover {
  background-color: #18cfab;
  border: 1px solid #18cfab;
  opacity: 1;
}

.feedback-carousel {
  display: flex;
  padding-left: 0;
  justify-content: center;
  list-style: none;
}

.carousel-photo-wrapper {
  display: flex;
  position: relative;
  width: 70px;
  height: 70px;
  margin: 15px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(16, 75, 75, 0.6);
  cursor: pointer;
}

.feedback-carousel > .selected .carousel-photo-wrapper {
  animation-name: photoUp;
  animation-duration: 400ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.feedback-carousel > .selected .carousel-photo {
  border: 1px solid #18cfab;
}

.carousel-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#gallery {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.gallery-item {
  margin-top: 18px;
}

.gallery-small-item {
  margin-top: 3px;
}

.gallery-item:nth-child(3) {
  display: flex;
  width: 364px;
  height: 453px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item.hidden {
  display: none;
}

.footer-container {
  max-width: 1920px;
  margin: 0 auto 15px;
  background-color: #22353f;
  font-size: 0.88rem;
  line-height: 108px;
  color: #aeaeae;
  text-align: center;
}

.footer-text:first-child::after {
  content: 'theHam';
  font-size: 0.88rem;
  color: #18cfab;
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes photoUp {
  0% {transform: translateY(0);}
  100% {transform: translateY(-12px);}
}
